body{
  font-family: Arial;
}

.header{
  background:#2E7D32;
  color:white;
  text-align:center;
  padding:20px;
}


.nav{
  background:#C8E6C9;
  text-align:center;
  padding:10px;
}
.content{
  display:flex;
}

.sidebar{
  flex:1;
  background:#FFF8DC;
  padding:15px;
}

.main{
  flex:1;
  background:#FFF8DC;
  padding:15px;
}

.contact{
  flex:1;
  background:#FFF8DC;
  padding:15px;
}

/* Footer */
.footer{
  background:#2E7D32;
  color:white;
  text-align:center;
  padding:15px;
}


a{
  text-decoration:none;
  color:blue;
}


a:visited{
  color:purple;
}


a:hover{
  color:red;
  font-weight:bold;
}


a:active{
  color:green;
}